$background-darkest: #212121;
$background-code: #353535; // 303030
$background-visualization: #424242;

$primary: #03dac6;
$error: #cf6679; // ff3f80
$critical-error: #710000;

$text-disabled: #ffffff3c;
$text-highlight: #e7db52;
$text-code: #ffffffde;

$btn: #03dac6;
$btn-text: white;
$btn-disabled: #01695e;
$btn-disabled-text: #ffffff26;
