$background-darkest: #212121;
$background-code: #353535; // 303030
$background-visualization: $background-darkest;//#424242;

$primary: #03dac6;
$error: #cf6679; // ff3f80
$critical-error: #710000;

$text-disabled: #ffffff3c;
$text-highlight: #e7db52;
$text-code: #ffffffde;
$text-error: #cf6679;

$btn-group: $background-code;

$btn: $background-code;
$btn-highlighted: #4f4f4f;
$btn-text: white;
$btn-disabled: $btn;
$btn-disabled-text: #ffffff26;
