@use "colors";

.ControlPanel {

    width: 100%;
    margin-bottom: 4px;

    background-color: colors.$btn-group;

    &__button {
        display: inline-block;
        padding: 5px 15px;

        height: 1rem;

        // Spacing
        margin: 0 0;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }

        background-color: colors.$btn;
        &:hover {
            background-color: colors.$btn-highlighted;
        }

        color: colors.$btn-text;
        font-family: "JetBrains Mono", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
        font-weight: bold;
        font-size: 0.8rem;
        user-select: none;

        cursor: pointer;
        * {
            cursor: pointer;
        }

        &--disabled {
            background-color: colors.$btn-disabled;
            color: colors.$btn-disabled-text;
            cursor: revert;
            * {
                cursor: revert;
            }

            img {
                filter: brightness(0.7);
            }
        }

        input {
            width: 0;
            height: 0;
            display: none;
        }

        img {
            vertical-align: middle;
            height: 100%;
        }
    }
}
