@use "colors";

.ControlPanel {

    $btn-height: 1rem;
    $btn-padding-y: 5px;

    width: 100%;
    margin-bottom: 4px;

    background-color: colors.$btn-group;

    &__button {
        display: inline-block;
        padding: $btn-padding-y 15px;
        height: $btn-height;
        user-select: none;

        // Spacing
        margin: 0 0;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }

        background-color: colors.$btn;
        &:hover {
            background-color: colors.$btn-highlighted;
        }

        color: colors.$btn-text;
        font-family: "JetBrains Mono", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
        font-weight: bold;
        font-size: 0.8rem;

        cursor: pointer;
        * {
            cursor: pointer;
        }

        &--disabled {
            background-color: colors.$btn-disabled;
            color: colors.$btn-disabled-text;
            cursor: revert;
            * {
                cursor: revert;
            }

            img {
                filter: brightness(0.7);
            }
        }

        input {
            width: 0;
            height: 0;
            display: none;
        }

        img {
            vertical-align: middle;
            height: 100%;
        }

        &--stretch {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
        }

        &--dropdown {
            position: relative;

            .dropdown-menu {
                position: absolute;
                top: calc($btn-height + 2 * $btn-padding-y);
                left: 0;
                background-color: colors.$btn;
                z-index: 1000;
            }
        }

        &:not(:hover) .dropdown-menu {
            display: none;
        }
    }

    &__Popout {
        animation: control-panel-popout-open 0.5s cubic-bezier(1, 0, 0, 1) 1;
        overflow: hidden;
        box-sizing: border-box;
        height: 50px;

        &__Content {
            padding: 10px 15px;
            box-sizing: border-box;
            color: colors.$text-code;
            height: 100%;
            display: flex;
            flex-direction: column;

            &__Line {
                flex: 1;

                display: flex;
                flex-direction: row;
                align-items: center;
            }

            &__slider {
                flex: 1;
                margin-left: 15px;
                padding: 0;
                //appearance: none;
                //background: none;
            }
        }
    }
}

@keyframes control-panel-popout-open {
    from {
        max-height: 0;
    }
    to {
        max-height: 100vh;
    }
}
