.ControlPanel {
    min-height: 100px;
    max-height: 300px;

    &__button {
        display: inline-block;
        padding: 10px 25px 10px 25px;
        margin-right: 2px; /* Spacing between buttons */

        background-color: #bb86fc;
        font-weight: bold;
        cursor: pointer;
        user-select: none;

        &--disabled {
            background-color: #45355c;
            color: #ffffff26;
            cursor: revert;
        }
    }
}
