.ProgramTextEditor {
    height: calc(100% - 16px);
    background-color: #2B2B2B;

    font-family: "JetBrains Mono", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: #ededed;

    padding: 8px;
}

.ProgramTextEditor__Line {
    padding-top: 1px;
    padding-bottom: 1px;
}

.ProgramTextEditor__Line--error {
    background-color: #8d3300;
}

.ProgramTextEditor__Line--critical {
    background-color: #710000;
}

.ProgramTextEditor__Line--active {
    background-color: #2f31ff;
}

.ProgramTextEditor__Line__RightOfCursor {
    border-left: 1px solid #ededed;
}
