.ProgramTextEditor {
    width: 100%;
    height: 100%;
    background-color: #2B2B2B;

    font-family: "JetBrains Mono", monospace, sans-serif;
    color: #ededed;

    padding: 8px;
}

.ProgramTextEditor__Line {
    padding-bottom: 2px;
}

.ProgramTextEditor__Line__RightOfCursor {
    border-left: 1px solid #ededed;
}
