.ProgramTextEditor {
    /* Stretch to fill out available space */
    flex: 1;

    background-color: #353535;/*303030*/

    font-family: "JetBrains Mono", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: #ffffffde;

    padding: 8px;
}

.ProgramTextEditor__Line {
    padding-top: 1px;
    padding-bottom: 1px;
}

.ProgramTextEditor__Line--error {
    background-color: #cf6679;/*ff3f80*/
}

.ProgramTextEditor__Line--critical {
    background-color: #710000;
}

.ProgramTextEditor__Line--active {
    background-color: #03dac6;
}

.ProgramTextEditor__Line__RightOfCursor {
    border-left: 1px solid #ededed;
}

.ProgramTextEditor__Line__Num {
    font-size: 0.7em;
    padding-right: 0.5em;
    color: #ffffff3c;
    user-select: none;
}
