body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: "JetBrains Mono", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    /* Adjust some browser-default components to use their dark version, like the scrollbar.
     * Supported by new versions of all major browsers.
     * See https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme
     */
    /* noinspection CssUnknownProperty */
    color-scheme: dark;
}
